.About-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.About-body section {
  border: 1px solid var(--accent-bright);
  border-radius: 4px;
  display: grid;
  margin: 16px;
  padding: 16px;
}

.About-body section p {
  line-height: 28px;
}
