.About-body {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr;
  margin: 1rem;
}

.About-body section {
  border: 4px solid var(--accent-bright);
  border-radius: 4px;
  display: grid;
}

.About-body section p {
  font-size: 1.25rem;
  line-height: 28px;
}
