h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

.Contact h1,
.Contact h2 {
  color: var(--secondary);
}

.Contact h1 {
  align-items: center;
  border-bottom: 4px solid var(--accent-bright);
  display: flex;
  grid-column: 1 / -1;
  grid-row: 1 / 1;
  padding: 0 0 0 16px;
}

.Contact h2 {
  border-bottom: 2px solid var(--accent-medium);
}
