.Contact {
  background-color: #1f1f1f99;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.33);
  display: grid;
  gap: 16px;
  grid-row: 2 / 2;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  margin: 32px 0;
  padding: 16px;
}

.Contact section {
  border: 1px solid orange;
  color: var(--secondary);
  grid-row: 2 / -1;
  padding: 16px;
}

.Contact-left-panel {
  grid-column: 1 / 7;
}

.Contact-right-panel {
  grid-column: 7 / -1;
}
