.Contact-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Contact-body section {
  display: grid;
  gap: 16px;
  padding: 16px;
}

.Contact-body section article {
  border: 1px solid var(--accent-bright);
  border-radius: 4px;
}

.Contact section article > * {
  padding: 16px;
}

.Contact section article ul,
.Contact section article ol {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px;
}

.Contact-right-panel #contact-message {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 0.033rem;
  margin: 16px;
}

.Contact-right-panel article ul {
  list-style: none;
}

.Contact-right-panel article ul li {
  align-items: center;
  background-color: #1f1f1f;
  border: 1px solid var(--accent-bright);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}
