.Contact {
  background-color: #00000099;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.33);
  display: grid;
  gap: 16px;
  grid-row: 2 / 2;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  margin: 32px 0;
  padding: 16px;
}

.Contact section {
  color: var(--secondary);
  display: grid;
  gap: 16px;
  grid-row: 2 / -1;
  padding: 16px;
}

.Contact section article {
  background-color: #1f1f1f;
  border: 1px solid var(--accent-bright);
  border-radius: 4px;
}

.Contact section article > * {
  padding: 16px;
}

.Contact section article ul,
.Contact section article ol {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px;
}

.Contact-left-panel {
  grid-column: 1 / 7;
}

.Contact-right-panel {
  grid-column: 7 / -1;
}

.Contact-right-panel #contact-message {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 0.033rem;
  margin: 16px;
}

.Contact-right-panel article ul {
  list-style: none;
}

.Contact-right-panel article ul li {
  align-items: center;
  background-color: #1f1f1f;
  border: 1px solid var(--accent-bright);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}
