#home > * {
  display: grid;
  font-size: 2rem;
  font-weight: bold;
}

#home-body {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  color: var(--secondary);
  grid-column: 2 / 8;
  grid-row: 1 / -1;
  grid-template-rows: repeat(4, 1fr);
  padding: 2rem;
}

#home-body > * {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  text-align: center;
}

#home-body h1 {
  color: var(--accent-bright);
  font-family: Corinthia, Arial, Helvetica, sans-serif;
  font-size: 5rem;
}

#home-body-contact {
  color: var(--secondary);
  flex-direction: column;
  font-size: 1.5rem;
}

#home-body-contact a {
  color: var(--accent-medium);
}

#home-body-contact a:hover {
  border-bottom: 2px solid var(--accent-medium);
  color: var(--accent-medium);
}

#home-banner {
  border-bottom: 1px solid var(--accent-medium);
  border-top: 1px solid var(--accent-medium);
  color: var(--secondary);
  flex-direction: column;
}

#home-banner h2 {
  font-size: 2rem;
}

.default-page-btn {
  align-items: center;
  background-color: black;
  border: 2px solid var(--accent-bright);
  border-radius: 8px;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.3);
  color: var(--secondary);
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  height: 60px;
  justify-content: center;
  letter-spacing: 0.033rem;
  opacity: 0.9;
  text-transform: capitalize;
  transition: 0.4s ease-in-out;
  width: 300px;
}

.default-page-btn:hover {
  color: var(--accent-bright);
  opacity: 1;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
}

#home-banner-social-icons {
  display: flex;
  justify-content: center;
  gap: 48px;
  padding: 16px;
}

#home-banner-social-icons i {
  font-size: 3rem;
}

#home-img {
  background: unset;
  grid-column: 8 / 12;
  grid-row: 2 / 12;
}

#home-img img {
  border-radius: 12px;
  height: 100%;
  width: 100%;
}
