.App {
  background-color: #00000099;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

#home,
#about,
#menu,
#contact {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(12, 1fr);
  padding: 16px;
}

#home,
#menu {
  grid-template-rows: repeat(12, 1fr);
}

#about,
#contact {
  grid-template-rows: auto repeat(11, 1fr);
}
