.App {
  background-color: #00000099;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

#home,
.About,
.Menu,
.Contact {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  padding: 16px;
}

.About-heading,
.Menu-heading,
.Contact-heading {
  padding: 16px;
}

.About section,
.Menu section,
.Contact section {
  color: var(--secondary);
}

.About section,
.Contact-left-panel article,
.Contact-right-panel article {
  background-color: #1f1f1f;
}
