.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.About,
.Menu,
.Contact {
  background-color: #00000099;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.33);
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 32px 0;
  padding: 16px;
}

.About-heading,
.Menu-heading,
.Contact-heading {
  padding: 16px;
}

.About section,
.Menu section,
.Contact section {
  color: var(--secondary);
}

.About section,
.Contact-left-panel article,
.Contact-right-panel article {
  background-color: #1f1f1f;
}
